Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type

WarningsAsErrors: ""

CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.ConceptCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.TypeTemplateParameterCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.LocalVariableCase: lower_case
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: "_"
  readability-identifier-naming.ProtectedMemberSuffix: "_"
  readability-identifier-naming.EnumConstantCase: lower_case
  readability-identifier-naming.ConstexprVariableCase: lower_case
  readability-identifier-naming.GlobalConstantCase: lower_case
  readability-identifier-naming.StaticConstantCase: lower_case
  readability-identifier-naming.GlobalVariableCase: lower_case
  readability-identifier-naming.GlobalVariablePrefix: "g_"
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE

  readability-identifier-length.IgnoredVariableNames: "^[ijknmxyzt]$"
  readability-identifier-length.IgnoredParameterNames: "^[ijknmxyzt]$"

  readability-function-cognitive-complexity.Threshold: 30

  readability-magic-numbers.IgnoredIntegerValues: "0;1;2"
  readability-magic-numbers.IgnoredFloatingPointValues: "0.0;1.0;2.0"

HeaderFilterRegex: "(^|/)(include/num|tests|examples)/"
FormatStyle: file
